// Color & Background
$primary-color-body: #4a5f73;
$primary-color-black: #000;
$primary-color-light: #008d54;

// Font Family
$font-iransans: IRANSans;
$font-normal: 14px;

// As hex codes
$color-primary-0: #1c4767;
$color-primary-1: #13354e;

// As RGBa codes */
$rgba-primary-0: rgba(28,71,103,0.8);
$rgba-primary-1: rgba(19,53,78,0.8);

