<html>
    <head>
        {{#if viewModel.pageTitle}}<title>{{viewModel.pageTitle}}</title>{{/if}}
    </head>
    <body>
        <img src="logo.png">
        {{{ body }}}

     <script src="/public/js/bundle.js"></script>
    </body>
</html>